/* variabili base calc  */

$dark: #141B2C;
$light: #CBDDF0;

$borderRadius: 15px;

$bgPrimary: #141B2C;
$bgSecondary: lighten(#141B2C, 10);

$textPrimary: #CBDDF0;

$boxShadow: 0px 0px 18px -1px rgba(0,0,0,0.44);
$boxShadowHover: 0px 0px 18px -1px rgba(0,0,0,0);

/* breakpoints Bootstrap5 shortcut */

$minXxl: "min-width: 1400px";

$minXl: "min-width: 1200px";
$maxXl: "max-width: 1399px";

$minLg: "min-width: 992px";
$maxLg: "max-width: 1199px";

$minMd: "min-width: 768px";
$maxMd: "max-width: 991px";

$minSm: "min-width: 576px";
$maxSm: "max-width: 767px";

$maxXs: "max-width: 575px";
