.home {
    padding: 2% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .containerTasks {
        padding: 1rem 0;
        .headingTasks{
            display:flex;
            padding: 0 1rem;
            margin-bottom: 0;
            font-size: 1.4rem;
            align-items: flex-start;
            justify-content: flex-start;
            color: textColor($bgSecondary, $dark, $light);
        }
    }
}
