.navBar {
    background-color: rgba(53,55,70, .8);
    backdrop-filter: blur(4px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem; 
    .branding{
      a{
        font-weight: bold;
        color: textColor(rgba(53,55,70, .8), $textDark, $textLight);
        &:hover{
          color: yellow;
        }
      }

    }
    .nav-links{
      display: flex;
      list-style-type: none;
      margin-bottom: 0px;
      li{
        padding: 0 .55rem;
          font-weight: bold;
          color: textColor(rgba(53,55,70, .8), $textDark, $textLight);
          cursor:pointer;
          &:hover{
            color: #42b983;
          }
      }
    }
  }