
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 9% 9%;
    background-color: $bgPrimary;
    color: white;

    .heading{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
    .navItem{
      margin-top: 22%;
      ul{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0px;

        i{
          font-size: 1.3rem;
        }
        a{
          display:flex;
          justify-content: flex-start;
          padding: 20px 10px;
          transition: .4s all;
          border-radius: $borderRadius;
          color: $textPrimary;
          box-shadow: $boxShadowHover;
          text-decoration: none;
          @include delay(slideInRight, 4, .5s);
          &:hover{
            transition: .3s all;
            background: $bgSecondary;
            color: textColor($bgSecondary, $dark, $light);
            padding: 15px 15px;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
          }
        }

      }
    }
  }

