form {
    padding: 1% 1%;
    margin-top: 10px;
    border-radius: $borderRadius;
    background-color: $bgPrimary;
    color: $textPrimary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.1);
    .label{
        display: flex;
        justify-content: start;
        width: 50%;
        input{
            width: 100%;
            padding: 2% 2%;
            border-radius: $borderRadius;
            background-color: $bgPrimary;
            color: $textPrimary;
            stroke: none;
            border: none;
            outline: none;
            transition: all .25s;
            &:active,&:focus{
                transition: all .25s;
                transform: scale(1.1)translateX(20px);
            }
        }
    }
    .props{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 50%;
        button{
            border-radius: $borderRadius;
            padding: 15px 15px;
            background: $bgSecondary;
            color: textColor($bgSecondary, $dark, $light);
            outline: none;
            border: none;
            transition: all .65;
            &:hover,&:active,&:focus{
                transition: all .4;
                background: $textPrimary;
                color: textColor($textPrimary, $dark, $light);
                outline: none;
                stroke: none;
                border: none;
            }
        }
        .checkPriority{
            margin-right: 4%;
            width: 150px;
            height: 50%;
            display:flex;
            align-items: center;
            justify-content: space-around;
            span{
                
            }
            input[type="checkbox"] {
                height: 0;
                width: 0;
                visibility: hidden;
                &:checked + label {
                    background: darken(red, 15);
                    &:after {
                        left: calc(100% - 5px);
                        transform: translateX(-100%);
                    }
                }
            }
            label {
                cursor: pointer;
                text-indent: -9999px;
                width: 90px;
                height: 100%;
                background: $bgSecondary;
                display: block;
                border-radius: 100px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0%;
                    left: 5%;
                    width: 43%;
                    height: 100%;
                    background: $textPrimary;
                    border-radius: 90px;
                    transition: 0.3s;
                }
                &:active{
                    &:after {
                        width: 80%;
                    }
                }
            }
        }
    }
}