form {
    padding: 2% 5%;
    margin-top: 10px;
    border-radius: 30px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.1);
    .containerFirst,.containerSecond{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .checkLove{
            input[type="checkbox"]{
                &:checked + label{
                    background: darken(red, 15);
                }
            }
        }
        .checkRead{
            input[type="checkbox"]{
                &:checked + label{
                    background: darken(green,10);
                }
            }
        }        
        .checkLove,.checkRead{
            input[type="checkbox"] {
                height: 0;
                width: 0;
                visibility: hidden;
                &:checked + label {
    
                    &:after {
                        left: calc(100% - 5px);
                        transform: translateX(-100%);
                    }
                }
            }
            label {
                cursor: pointer;
                text-indent: -9999px;
                width: 60%;
                height: 100%;
                background: rgb(78, 78, 78);
                display: block;
                border-radius: 100px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0%;
                    left: 5%;
                    width: 43%;
                    height: 100%;
                    background: #fff;
                    border-radius: 90px;
                    transition: 0.3s;
                }
                &:active{
                    &:after {
                        width: 80%;
                    }
                }
            }
        }


    .label{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        label{
            margin-bottom:3px;
            margin-top: 13px;
            font-size: 20px;
            font-weight: 700;
        }
        input,select,textarea{
            width: 70%;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 15px;
            padding-left: 5px;
            border: none;
            background-color:white;
            &::placeholder,&:invalid{
                opacity: 1;
            }
            &:focus{
                border: none;
                outline: none;
            }
        }
        select{
            &:invalid{
                color: purple;
            }
        }
    }
    .ctaRead{
        background-color: green;
    }
    .ctaLove{
        background-color: red;
    }
    .ctaLove,.ctaRead{
        width: 30%;
        height: 100%;
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 30px;
        transition: all .5s ease-in-out;
        &:after{
            content:'';
            width: 20%;
            height: 40%;
            position: absolute;
            bottom: -1%;
            right:-10%;
            border-top-left-radius: 10px;
            background-color: white;
            transition: all .6s ease-in-out;
        }
    }
    .cta{
        width: 30%;
        height: 100%;
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: grey;
        color: white;
        padding: 30px;
        transition: all .3s ease-in-out;
        &:after{
            content:'';
            width: 20%;
            height: 20%;
            position: absolute;
            bottom: -1%;
            right:-10%;
            border-top-left-radius: 10px;
            background-color: white;
            transition: all .4s ease-in-out;
        }
    }

}

button{
    border-radius: 20px;
    width: 33%;
    padding: 5px 0px;

}
}